/* Here you can put your specific typography, layout styles. */
/* Here you can put your specific typography, layout styles. */
/* FONTES */

@font-face {
    font-family: "Gothic-balsa";
    src: url("/fonts/Ume-P-Gothic_Balsa.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "PGothicVertical";
    //src: url("/fonts/Ume-P-Gothic-Vertical.ttf");
    src: url("/fonts/Ume-P-Gothic-Vertical.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "VerticalWideO";
    //src: url("/fonts/Ume-P-Gothic-Vertical.ttf");
    src: url("/fonts/Ume-Vertical-Wide-Oblique.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "VerticalWide";
    //src: url("/fonts/Ume-P-Gothic-Vertical.ttf");
    src: url("/fonts/Ume-Vertical-Wide.ttf");
    font-weight: normal;
}

/* VARIABLES */

@color: black;
@color2: black;
@small: 0.8em;

/* STYLES COMMUNS */

body {
font-family: "Gothic-balsa";
font-size: 12.5pt;
line-height: 0.75em;
//text-transform: uppercase;
color: @color;

}

.body {
width:100%;
height: 100%;
//padding-bottom: 20mm;
margin-bottom: 15mm;
padding-top: 0mm;
padding-bottom: 15mm;
font-size: 13pt;

}

.paper:nth-child(odd) .body{
  //padding-right: 15mm;
}
.paper:nth-child(even) .body {
  //padding-left: 15mm;
}
.column50{
  width: 50%;
  position: relative;
  float: left;
  padding: 0pt !important;
  margin: 0pt !important;
}

.column25{
  width: 25%;
  position: relative;
  float: left;
  padding: 0pt 2em 0pt 0pt !important;
  margin: 0pt !important;
}
.column33{
  width: 33%;
  position: relative;
  float: left;
  padding: 0pt 1em 0pt 0pt !important;
  margin: 0pt !important;
}




.small {
    font-size:@small;
    }

.header {
font-size: 1em;
      //  font-weight: 600;
padding-top: 16px;
//position: absolute;
}

.footer {
    font-size: 13pt;
    //font-weight: 600;
    }

.paper {
    position: relative;
}

.paper:nth-child(even) section.footer:before {
content: "Cultiver l’art - Naturellement";
}
.paper:nth-child(odd) section.footer:before {
}





h1{
font-size: 2em;
line-height: 1.25em;
padding:0px;
//-webkit-region-break-before: always;
text-align: center;
margin-bottom: 1em;
}

p + p {
    margin-top: 1em;
    text-indent: 3em;
}

b {

text-decoration: underline;
    }

em {
font-family: "VerticalWideO";
font-weight: normal;
font-size: 0.9em;
}

sup {
    font-size: 0.7em;
    vertical-align: 0.5em;
    line-height: 0;
}

#bibles {
 font-size: 7pt;
 .break{
   break-before: always;
   page-break-before: always;
   -webkit-break-after: always; /* Safari & Chrome */
   -moz-break-after: always; /* Firefox */
   -ms-break-after: always; /* Internet Explorer */
   -o-break-after: always; /* Opera */

 }

          h2{
            font-size: 7pt;
            font-weight: normal;
            margin: 0em 0pt 3em 0pt;
           padding: 0pt;
          // line-height: 1.25em;
          page-break-before: avoid;
          }
          h2::before, h2::after{
            font-family: "VerticalWide";
            font-weight: normal;
          }
          // h2::before{
          //   content:"―     ";
          // }
          // h2::after{
          //   content:"     ―";
          // }
          div + h2 {
            //margin-top: 10em;
            break-before: always;
            page-break-before: always;
-webkit-break-after: always; /* Safari & Chrome */
-moz-break-after: always; /* Firefox */
-ms-break-after: always; /* Internet Explorer */
-o-break-after: always; /* Opera */


          }

          h2 + h3 {
            margin-top: 0em !important
          }
          h3::before{
            font-family: "VerticalWide";
            font-weight: normal;
            font-size: 1.5em;
            content:"\E006   ";

          }
           h3{
             font-size: 7pt;
             font-weight: normal;
             margin: 3em 0pt 1em 2em;
          // text-transform: uppercase;
           text-align: left;
           //text-decoration: underline;

           }

          dl{
            margin: 0pt 0pt 1em 0pt !important;
           padding: 0pt !important;
          }
          dt{
            margin: 0 !important;
           padding: 0pt !important;
          }
          dd{
            margin: 0 !important;
           padding: 0pt 0pt 0pt 2em !important;
          // width: 50%;
          }
          .production, .date{
            margin: 0pt 0pt 1em 0pt !important;
            text-indent: 2em;
          }
          dl + div {
            margin-top: 1em !important;
          }
}








#edito {
-webkit-region-break-after: always;
break-after: always;
text-align: justify;
}






div.region-break {
    -webkit-region-break-before: always;
    break-before: always;
}
/*       I N F O S     P R A T I Q U E S     */

#infos-pratiques {
-webkit-region-break-before: always;
font-family: Gothic;
font-size: 0.7em;
line-height: 1.3em;
font-weight: 600;

}


#pass {
-webkit-region-break-before: always;
height: 7cm;
padding:2mm;
position: relative;

      h2 {
      margin-bottom: 0.5em;
      }

      #sticker {
      position: absolute;
      bottom: -10px;
      right: 0px;
      width: 3cm;
      }
}





#logos {
    -webkit-region-break-before: always;
}
