/* the geometry of the page */
@page-width: 210mm;
@page-height: 240mm;

/* the size of the crop marks*/
@crop-size: 7mm;

/* the size of bleed */
@bleed: 5mm;

// FIXME: make a case for single page layouts
@page-margin-inside: 21mm;
@page-margin-outside: 9mm;
@page-margin-top: 12mm;
@page-margin-bottom: 15mm;

// Header & footer variables
@header-height: 10mm;
@header-text: counter(page-counter);
@footer-height: 10mm;
@footer-text:  "";
